.App {
  text-align: center;
}
.info-icon {
  margin-left: 0.5rem !important;
}

.MuiBox-root {
  overflow: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.MuiBox-root::-webkit-scrollbar {
  display: none;
}
